body{
    background-color: hsl(234, 66%, 12%);
    color:blanchedalmond;
}

a{
    text-decoration: none;
}

#title{
    text-align: center;
    color: blanchedalmond;
}

.textC{
    font-size: 20px;
    text-align: center;
    color:blanchedalmond;
}

#startB{
    background-color:rgb(79, 79, 122);
    font-size: 20px;
    padding: 10px;
    transform: translateX(638px);
}
#startB:hover{
    background-color: rgb(60, 60, 128);
}
#startB:active{
    background-color: rgb(50, 50, 139);
    
}

#startBhelp{
    transform: translateX(590px);
    animation-name: FadeIn;
    animation-delay: 30s;
    animation-duration: 2s;
    opacity: 0;
}

@keyframes FadeIn{
    100%{opacity: 1}
}

    
    