body{
    background-color: hsl(234, 66%, 12%);
    color:blanchedalmond;
}

a{
    text-decoration: none;
}

#title{
    text-align: center;
    color: blanchedalmond;
}

.textC{
    font-size: 20px;
    text-align: center;
    color:blanchedalmond;
}

#startB{
    font-size: 20px;
    text-align: center;
    border: 2px solid blanchedalmond;
    display: inline-block;
    padding: 10px;
    transform: translateX(638px);
}

#startB a:visited{
    color:blanchedalmond;
    text-decoration-line: none;
}

