body{
    background-color: hsl(234, 66%, 12%);
    color:blanchedalmond;
}

a{
    text-decoration: none;
}

#title{
    text-align: center;
    color: blanchedalmond;
}

.textC{
    font-size: 20px;
    text-align: center;
    color:blanchedalmond;
}

#startB{
    font-size: 20px;
    text-align: center;
    border: 2px solid blanchedalmond;
    display: inline-block;
    padding: 10px;
    transform: translateX(638px);
}

#startB a:visited{
    color:blanchedalmond;
    text-decoration-line: none;
}

#count{
    font-size: 30px;
    transform: translate(600px, 50px);
}

.tabbar{
    display: flex;
    justify-content: center;
    column-gap: 10px;
    transform: translateY(100px);
}
.tab{
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#tabbutton1{
    background-color: rgb(255, 80, 80); /* temporary color*/
}
#tabbutton1 a:visited{
    color: blanchedalmond;
}
#tabbutton2{
    background-color: rgb(255, 80, 188); /* temporary color*/
}
#tabbutton2 a:visited{
    color: blanchedalmond;
}
#tabbutton3{
    background-color: rgb(83, 80, 255); /* temporary color*/
}
#tabbutton4{
    background-color: rgb(255, 252, 80); /* temporary color*/
}

#upg1{
    border: 3px solid brown;
    width: 700px;
    height: 40px;   
    transform: translate(300px, 150px);
}

#gen1{
    border: 3px solid brown;
    width: 300px;
    height: 40px;   
    transform: translate(300px, 150px);
}